In [6]:
import yfinance as yf
import pandas as pd
from datetime import datetime

# Example symbols dictionary (replace with your actual data)
symbols ={'POLYCA': 'POLYCAB.NS'}

# Prepare an empty result DataFrame
result_df = pd.DataFrame()

# Current date for the output file name

for name, symbol in symbols.items():
    stock = yf.Ticker(symbol)
    historical_data = stock.history(period="max")

historical_data.head(100)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-04-16 00:00:00+05:30,611.682520,645.310552,608.783551,632.748352,22985293,0.0,0.0
2019-04-18 00:00:00+05:30,634.777583,642.508167,593.322304,621.877136,5415019,0.0,0.0
2019-04-22 00:00:00+05:30,621.345685,624.051378,604.193452,606.947449,1059760,0.0,0.0
2019-04-23 00:00:00+05:30,606.850936,626.177399,606.850936,612.745483,1208860,0.0,0.0
2019-04-24 00:00:00+05:30,615.064622,618.446752,607.092457,616.030945,1016453,0.0,0.0
...,...,...,...,...,...,...,...
2019-09-06 00:00:00+05:30,585.774242,594.272874,585.725690,590.339233,40266,0.0,0.0
2019-09-09 00:00:00+05:30,590.824868,606.462386,590.824868,602.528687,83021,0.0,0.0
2019-09-11 00:00:00+05:30,603.159990,608.501987,592.913081,603.548523,59967,0.0,0.0
2019-09-12 00:00:00+05:30,603.548499,615.543685,602.577227,605.151062,52409,0.0,0.0
2019-09-13 00:00:00+05:30,607.045110,619.088908,604.616929,614.329651,108871,0.0,0.0

In [3]:

import yfinance as yf
import pandas as pd
from datetime import date
import csv




symbols= {'OLAELEC': 'OLAELEC.NS'}


result_df = pd.DataFrame()

for name, symbol in symbols.items():
    try:
        stock = yf.Ticker(symbol)
        historical_data = stock.history(period="1y")  # Last 1 year
        historical_data = historical_data.sort_index(ascending=False)  # Sort in descending order
        close_data = historical_data['Close']  # Select only the 'Close' column
        
        # Select data at intervals of 25 days
        close_data_25_days = close_data[::25]
        
        # Prepare DAYS columns
        days_dict = {
            f'DAYS_{i*25}': [close_data_25_days.iloc[i]]
            if i < len(close_data_25_days) else [None]
            for i in range(len(close_data_25_days))
        }
        
        # Create a DataFrame for the stock
        stock_df = pd.DataFrame(days_dict)
        stock_df.insert(0, 'Name', name)
        
        # Append to result DataFrame
        result_df = pd.concat([result_df, stock_df], ignore_index=True)
    except Exception as e:
        print(f"Error fetching data for {name} ({symbol}): {e}")

OLAELEC.NS: Period '1y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', 'ytd', 'max']

In [66]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('TATAMOTORS_historical_data.csv')

# Ensure the 'Date' column is in datetime format and sort the data in ascending order by date
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by='Date')

# Calculate EMAs for the 'High' column with periods of 50, 100, and 150 days
ema_periods = [50, 100, 150,200]
for period in ema_periods:
    column_name = f"{period}_day_EMA_High"
    df[column_name] = df['High'].ewm(span=period, adjust=False).mean()

# Display the last few rows to confirm the calculations
df.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,50_day_EMA_High,100_day_EMA_High,150_day_EMA_High,200_day_EMA_High
4,2024-11-27 00:00:00+05:30,785.049988,791.900024,779.099976,783.950012,10014685,0.0,0.0,886.568226,932.400480,936.234766,921.681032
3,2024-11-28 00:00:00+05:30,783.000000,792.549988,778.000000,779.450012,10939142,0.0,0.0,882.881237,929.631163,934.331656,920.396146
2,2024-11-29 00:00:00+05:30,779.500000,789.400024,777.049988,786.450012,10358590,0.0,0.0,879.215307,926.854309,932.412032,919.092702
1,2024-12-02 00:00:00+05:30,787.299988,796.750000,785.000000,790.049988,8425826,0.0,0.0,875.981373,924.277986,930.615184,917.875361
0,2024-12-03 00:00:00+05:30,795.000000,806.000000,790.000000,801.250000,9871261,0.0,0.0,873.237006,921.935848,928.964652,916.762174

In [74]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('SKYGOL_historical_data.csv')

# Ensure the 'Date' column is in datetime format and sort the data in ascending order by date
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by='Date')

# Calculate EMAs for the 'High' column with periods of 50, 100, and 150 days
ema_periods = [50, 100, 150,200,250]
for period in ema_periods:
    column_name = f"{period}_day_EMA_High"
    df[column_name] = df['High'].ewm(span=period, adjust=False).mean()

# Remove columns 'Open', 'Low', 'Close', 'Volume'
df = df.drop(columns=['Open', 'Low', 'Close', 'Volume','Dividends','Stock Splits'])

# Display only the most recent data
current_data = df.tail(1)
print(current_data)

                       Date    High  50_day_EMA_High  100_day_EMA_High  \
0 2024-12-03 00:00:00+05:30  3974.0      3392.134473       2939.319011

   150_day_EMA_High  200_day_EMA_High  250_day_EMA_High
0       2613.437318       2379.703262       2207.210677

Data has been appended and saved to 'appended_data.csv'

In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime

# Example symbols dictionary (replace with your actual data)
symbols = {
    '53206': '532067.BO', 'AARO': 'AARON.NS','ERI': 'ERIS.NS', 
    # Add more symbols as needed
}

# Prepare an empty result DataFrame
result_df = pd.DataFrame()

# Loop through each symbol and process the data
for name, symbol in symbols.items():
    stock = yf.Ticker(symbol)
    historical_data = stock.history(period="max")
    if historical_data.empty:
        print(f"No data available for {name} ({symbol})")
        continue
    
    # Ensure the Date column is in datetime format and sort the data in ascending order by date
    historical_data.reset_index(inplace=True)
    historical_data['Date'] = pd.to_datetime(historical_data['Date'])
    historical_data = historical_data.sort_values(by='Date')
    
    # Calculate EMAs for the High column with periods of 50, 100, 150, 200, and 250 days
    ema_periods = [50, 100, 150, 200, 250]
    for period in ema_periods:
        column_name = f"{period}_day_EMA_High"
        historical_data[column_name] = historical_data['High'].ewm(span=period, adjust=False).mean()
    
    # Remove columns Open, Low, Close, Volume, Dividends, Stock Splits, Capital Gains
    columns_to_remove = ['Open', 'Low', 'Close', 'Volume','Capital Gains','Stock Splits','Dividends']
    for col in columns_to_remove:
        if col in historical_data.columns:
            historical_data.drop(columns=[col], inplace=True)
    
    # Add Stock Name column at the beginning
    historical_data.insert(0, "Stock Name", name)
    max_high = historical_data['High'].max()
    max_high_date = historical_data['High'].idxmax()
    
    # Append the most recent data to the result DataFrame
    current_data = historical_data.tail(1)
    result_df = pd.concat([result_df, current_data])

# Save the result DataFrame to a CSV file
result_df.to_csv('appended_data.csv', index=False)

print("Data has been appended and saved to appended_data.csv")

Data has been appended and saved to appended_data.csv